<div class="mmm-hadisplay">
  {% if loading %}
    <div class="small dimmed mmm-hadisplay-status">Loading…</div>
  {% elif initialError %}
    <div class="small dimmed mmm-hadisplay-status">Home Assistant data unavailable</div>
  {% else %}
    <table class="small mmm-hadisplay-table">
      <tbody>
        {% for floor in floors %}
          <tr class="dateheader mmm-hadisplay-section">
            <td colspan="4" class="bright">{{ floor.name }}</td>
          </tr>
          {% for room in floor.rooms %}
            <tr class="normal mmm-hadisplay-room">
              <td class="align-left">{{ room.name }}</td>
              <td class="align-right">
                <span class="{{ room.temperature.valueClass }}">{{ room.temperature.value }}</span>
              </td>
              <td class="align-right">
                <span class="{{ room.humidity.valueClass }}">{{ room.humidity.value }}</span>
              </td>
              <td class="align-right">{{ room.pm25 }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
        {% if otherRooms | length > 0 %}
          <tr class="dateheader mmm-hadisplay-section">
            <td colspan="4" class="bright">Other areas</td>
          </tr>
          {% for room in otherRooms %}
            <tr class="normal mmm-hadisplay-room">
              <td class="align-left">{{ room.name }}</td>
              <td class="align-right">
                <span class="{{ room.temperature.valueClass }}">{{ room.temperature.value }}</span>
              </td>
              <td class="align-right">
                <span class="{{ room.humidity.valueClass }}">{{ room.humidity.value }}</span>
              </td>
              <td class="align-right">{{ room.pm25 }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
    {% if stale %}
      <div class="xsmall dimmed mmm-hadisplay-stale">Data unavailable</div>
    {% endif %}
  {% endif %}
</div>
